.badge {
  width: fit-content;
  background-color: var(--gray);
  padding: 6px 12px;
  border: 2px solid var(--primary-avacado);
  color: var(--primary-avacado);
  border-radius: 20px;
}

/* lg */
@media (max-width: 1024px) {
  .badge {
    font-size: 12px;
    padding: 4px 10px;
  }
}