.container {
  width: 220px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-lunar);
  padding: 33px 72px;
  gap: 10px;
  border: 1px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.72px;
  text-align: center;
  color: var(--athena-gray);
  cursor: pointer;
  z-index: 5;
}

.container:disabled {
  background-color: var(--primary-avacado);
  cursor: default;
}
